{% extends "myapp/base.html" %}

{% block body %}
<div>
  {% for item in item_list %}
  <div class=" m-10 flex  w-1/2 mx-auto">

    <div>

      <img class="w-80 rounded-lg" src="{{item.item_image}}" alt=" ">

    </div>
    <div class="mx-08 px-10 py-15">

      <div class="font-bold">{{ item.item_name }}</div>
      <div>{{ item.item_desc }}</div>
      <div>{{ item.user_name }}</div>
      <div class="text-1xl font-bold text-green-700">${{ item.item_price }}</div>



    </div>
    <div class="mx-20 px-10 flex py-15 items-center ">
      <a class="bg-red-500 text-white font-bold rounded-md-" href="{% url 'myapp:detail' item.id %}"> View Details </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}













































{% comment %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index Page</title> {% endcomment %}
  {% comment %}
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}
  {% comment %}
</head> {% endcomment %}
{% comment %}

<body> {% endcomment %}

  {% comment %} <nav class="bg-blue-600 text-white">
    <div class="flex justify-between px-2 py-4">
      <a href="" class="font-bold text-2xl"> FoodApp </a>
      <div class="space-x-15 font-bold text-1xl">
        <a href=""> Contact </a>
        <a href=""> Address</a>
        <a href=""> About Us </a>
      </div>
    </div>

  </nav> {% endcomment %}
  {% comment %} <ul> {% endcomment %}
    {% comment %} {% for item in item_list %} {% endcomment %}
    {% comment %} <li> {% endcomment %}
      {% comment %} <a href="/myapp/{{ item.id }}"> {% endcomment %}
        {% comment %} <a href="{% url 'myapp:detail' item.id %}">
          <img src="{{item.Item_image}}" alt=" ">
          {{ item.Item_name }} -> {{ item.Item_desc }} -> {{ item.Item_price }} {% endcomment %}
          {% comment %} </a>
    </li>
    {% endfor %}
  </ul> {% endcomment %}

  {% comment %} </body> {% endcomment %}


{% comment %}

</html> {% endcomment %}