{% extends "myapp/base.html" %}

{% block body %}

<dir class="flex flex-col justify-center items-center min-h-screen p-10">
    <h1>Add Item</h1>
    <form method="POST" class="shadow-lg space-y-6 p-10 w-96">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="bg-red-500 text-white p-2">
            {% for error in form.non_field_errors %}
            <p>{{error}}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% for field in form %}
        <div>
            <label for="">{{field.label}}</label>
            <div class="border rounded p-2">{{field}}</div>
        </div>
        {% endfor %}
        <button class="bg-blue-500 text-white px-4 py-2 w-full">Add Item</button>
    </form>
</dir>

{% endblock %}